html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: rgb(242, 242, 243);
    padding: 0;
    margin: 0;
}
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
h1 {
    font-size: 50px;
}
h1, h2, h3 {
  font-weight: 600; 
  letter-spacing: -0.02em;
}
p {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.01em;
  max-width: 600px;
  line-height: 1.6;
  color: #1d1d1f; 
}

/* centering */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1.center-container {
    height: 200px; 
}
img.center-container {
    height: 500px;
}
p .center-container {
  height: 100px;
}
/* ----- */

/* header */
header {
  display: flex;
  align-items: center;
  justify-content:center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.75); /* translucent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.middle {
    display: flex;
    text-align: center;
}
.imgur {
  transition: 0.2s ease-in;
  height: 30px;
  width: 30px;
  border: 2px solid transparent;
  border-radius: 100%;
}
.imgur:hover {
  border: solid rgb(190, 190, 190);
  background-color: rgb(190, 190, 190);
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
.searchbutton {
  background: none;      /* removes background */
  border: none;          /* removes border */
  padding: 0;            /* removes spacing */
  margin: 0;
  box-shadow: none;      /* removes shadow (some browsers) */
  cursor: pointer; 
}
/* ----- */

/* search overlay*/
.search-overlay {
  opacity: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content:center;
  padding: 10px;
  position: fixed;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.75); /* translucent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.search-overlay.active {
  opacity: 100;
  pointer-events: auto;
}
/* ----- */

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 50px 50px;
  border-top: 2px solid rgb(255, 255, 255);
}
footer p {
  color: #ffffff;
}
.middlebot {
    display: flex;
    margin: auto;
    margin-left: 50px;
    text-align: center;
    gap: 50px;
}
/* ----- */

.smaller {
  font-size: 15px;
}
.right {
    display: flex;
    text-align: right;
    margin-top: 50px;
    margin-right: 50px;
}

/* nav */
nav {
  font-size: 30px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
  transition: 0.1s ease-in;
}
.img-swap {
 position: relative;
 gap: 100px;
}
.img-swap img {
  position: absolute;
  object-fit: cover;
  transition: opacity 0.4s ease;
  margin-right: 100px;
}
.img-swap .hover {
  opacity: 0; 
}

.img-swap:hover .hover {
  opacity: 1; 
}

.img-swap:hover .default {
  opacity: 0; 
}
a:hover,
a:focus {
  color: rgb(156, 156, 156);
}
/* ----- */

.rightbox {
    display: flex;
    text-align: right;
    margin-top: 40px;
    margin-right: 50px;
    border: solid white;
    background-color: white;
    border-radius: 7px;
    opacity: 90%;
    box-sizing: border-box;
    width: 375px;
    height: 50px;
}

/* search bar */
.search-bar {
  padding: 10px 15px;     
  font-size: 18px;               
  border: 2px solid rgb(94, 94, 94);        
  border-radius: 8px;             
  outline: none;                
  background-color:   #ffffff;  
  width: 250px;    
  transition: 0.3s ease;  
}
.search-bar:focus {
  border-color: #007bff; 
  background-color: white;
}
.search-bartwo {
  padding: 10px 15px;     
  font-size: 18px;               
  border: 2px solid transparent;        
  border-radius: 8px;             
  outline: none;              
  width: 250px;    
  transition: 0.3s ease;
  background: rgba(255, 255, 255, 0.75); 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.search-bartwo:focus {
  background: rgba(255, 255, 255, 0.75); 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
/* ----- */

.padding {
  padding: 25px;
}

/* button */
.buttonbruh {
  width: 300px;
  height: 50px;
  font-size: 20px;
  background-color: white;
  border-radius: 25px;
  border-color: white;
}
.buttonbruhtwo {
  width: 80px;
  height: 60px;
  font-size: 40px;
  background-color: white;
  border-radius: 25px;
  border-color: white;
}
.buttonbruhthree {
  width: 120px;
  height: 44px;
  font-size: 20px;
  background-color: white;
  border-radius: 8px;
  border-color: rgb(94, 94, 94);
}
/* ----- */

.text-overlay {
  position: absolute;
  top: 135px;
  color: rgb(219, 228, 255);
}
.totheleft {
  padding: 25px;
  margin-right: 750px;
}
.totheright {
  padding: 25px;
  text-align: right;
  margin-left: 750px;
}

/* textbox */
.boxtemplate {
  display: flex;
  flex-direction: row;  
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;   
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 20px;
}
.boxtemplate::-webkit-scrollbar {
  display: none;
}
.textbox {
  flex: 0 0 500px; 
    border: solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 25px;
    opacity: 90%;
    box-sizing: border-box;
    width: 500px;
    height: 600px;
    margin: 15px;
}
.textbox h2 {
  margin-top: 55px;
  margin-left: 20px;
}
.textbox p {
  margin-left: 20px;
  margin-right: 100px;
  font-size: 20px;
}
.textbox img {
  display: block;
  margin: auto;
}
/* ----- */